<h2 class="section-heading">Explore the Area</h2>

<div class="atis-map">
  <div class="atis-map__filter">


    <div class="atis-map__group">
      <h3 class="atis-map__heading">Filter by Region</h3>
      <label class="form-check-label map-filter__radio-label" for="all-regions">
        <input class="form-check-input map-filter__radio-input" type="radio" name="listing-region-radio" id="all-regions" value="" checked>
        <span>All Regions</span>
      </label>

      {% for region in regions %} 
      <label class="form-check-label map-filter__radio-label" for="{{ region.slug }}">
        <input class="form-check-input map-filter__radio-input" type="radio" name="listing-region-radio" id="{{ region.slug }}" value="{{ region.slug }}">
        <span>{{ region.title }}</span>
      </label>
      {% endfor %}
    </div>

    <hr>

    <div class="atis-map__group">
      <h3 class="atis-map__heading">Filter by Type</h3>

      <label class="form-check-label map-filter__radio-label" for="all-types">
        <input class="form-check-input map-filter__radio-input" type="radio" name="listing-type-radio" id="all-types" value="" checked>
        <span>All Types</span>
      </label>

      {% for category in listing_categories %}
      {% if category.posts()|length > 0 %}
      <label class="form-check-label map-filter__radio-label" for="{{ category.slug }}">
        <input class="form-check-input map-filter__radio-input" type="radio" name="listing-type-radio" id="{{ category.slug }}" value="{{ category.slug }}">
        <span>{{ category.title }}</span>
      </label>
      {% endif %}
      {% endfor %}
    </div>

    </form>
  </div>
  <div class="atis-map__map">
    <div class="map-wrap" id="listingsMap"></div>
  </div>
</div>

<!--
  <div id="mapMessage"  class="alert alert-warning d-none" role="alert">
  Nothing found for those filters. Please try again. <button id="clearFilters" class="btn btn-secondary">Clear all Filters</button>
  </div>
-->


<script>
  var listing_icon_path = '{{ img }}/map/';
function initMap() {
  window.itaMap.init('listingsMap', '', listing_icon_path);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUsyeMCeGy68LxWJtmnyycirKD8dfPS9Y&callback=initMap" async defer></script>
