<div class="listing-item listing-item--{{ color }} {{ listing.atis_category_slug }} {{ listing.atis_region_slug }}">
  <div class="listing-item__content">
    <figure class="listing-item__image listing-item__image--{{ color }}" style="background-image:url({{ listing.medium_image }});"></figure>
    <div class="listing-item__container">
      <div class="listing-item__category">{{ listing.atis_category }}</div>
      <h3 class="listing-item__heading">{{ listing.title }}</h3>
      <div class="listing-item__location">{{ listing.atis_city }}, {{ listing.atis_province }}</div>
      <div class="listing-item__excerpt">{{ listing.preview.read_more(false) }}</div>
    </div>
  </div>
  <div class="listing-item__link">
    <div class="listing-item__container">
      <a href="{{ listing.link }}">Learn More</a>
    </div>
  </div>
</div>
