{% set template = 'news-release' %} 
{% extends "base.twig" %}


{% block content %}
<section id="content" role="main" class="content">
  <div class="content__container content__container--with-sidebar">

    <aside class="side">
      {% include 'partial/sidebar-news-release.twig' %}
    </aside>

    <article class="main post-type-{{post.post_type}}" id="post-{{post.ID}}">

      <div class="news-release-single news-release-item-single--{{ post.slug }}">

        <figure class="news-release-single__figure"></figure>

        <div class="news-release-single__details">
          <time class="news-release-single__date">{{ post.date }}</time>
          <h2 class="news-release-single__title">{{ post.title }}</h2>
          <div class="news-release-single__content">{{ post.content }}</div>

          <div class="news-release-single__terms">
            {% for term in post.terms %}
            <a href="{{term.link}}">#{{term.title}}</a>
            {% endfor %}
          </div>

        </div>
      </div>

      {% include 'partial/post-nav.twig' with { 'back_name': 'News', 'back_url': '/news-releases/'} %}

    </article>

  </div>
</section>
{% endblock %}
