{% extends "base.twig" %}

{% block content %}
  <article class="content post-type-{{post.post_type}}">
    <div class="container">

      <div class="nf-banner" style="background-image:url({{ archive_top|extract_image }});"> 
        <div class="nf-banner__inner">
          <h1 class="nf-banner__heading">{{ archive_title }}</h1>
          <div class="nf-banner__content">{{ archive_top|striptags('<div>') }}</div>
        </div>
      </div>

      <div class="nf-service-list wp-block-nf-grid" data-columns="2">
        {% for post in posts %}
          {% include "service/views/tease.twig" %}
        {% endfor %}
      </div>

      <div class="nf-banner nf-banner--fadeless" style="background-image:url({{ archive_bottom|extract_image }});"> 
        <div class="nf-banner__inner">
          <div class="nf-banner__content hide-img-tag">{{ archive_bottom }}</div>
        </div>
      </div>

    </div>
  </article>
{% endblock %}

{% block footer %}
  {{ function('wp_footer') }}
{% endblock %}
