{% extends "base.twig" %}

{% block content %}
  <article class="content post-type-{{post.post_type}}" id="post-{{post.ID}}">
    <div class="container">

      <div class="nf-banner" style="margin-bottom:50px;"> 
        <div class="nf-banner__inner">
          <img class="nf-banner__icon" src="{{ post.meta('icon') }}" />
          <h1 class="nf-banner__heading">{{ post.title }}</h1>
        </div>
      </div>


      <div class="container" style="max-width:960px;">
        {{post.content}}
      </div>

      {#
        <ul>
        {% set counter = 0 %}
        {% for case_study in PostQuery({ post_type: 'case_study', posts_per_page: -1, }) %}
          {% if post.id in case_study.meta('services') and counter < 3%}
            {% set counter = counter + 1 %}
            <li>{{ case_study.title }} - {{ case_study.date }} - {{ case_study.meta('services')|join(',') }}</li>
          {% endif %}
        {% endfor %}
        </ul>

        Twig is {{ constant('Twig_Environment::VERSION') }}
      #}

    </div>

  </article>
{% endblock %}

{% block footer %}
  {{ function('wp_footer') }}
{% endblock %}
